---
# Copy this file to credentials.yml and fill in your values
# Consider using ansible-vault to encrypt credentials.yml

rhsm_username: "your-redhat-username"
rhsm_password: "your-redhat-password"
aap_pool_id: "your-aap-pool-id"
